<div class="form-container">
    <p>Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>
    <form class="form">
        <div class="inputs">
            <label>Assunto</label>
            <input class="subject" placeholder="Defina um tópico sucinto para notificar os autores...">
            <label>Conteúdo</label>
            <Textarea rows="6"></Textarea>
        </div>
        <div class="btn-send">
            <button>Enviar</button>
        </div>
        <div class="divisor"></div>
    </form>
</div>

