<div *ngIf="!ShowSentForm" class="form-container">
    <p>Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>
    <form class="subject" (ngSubmit)="onSubmit($event)" #meuForm="ngForm">
        <div class="inputs">
            <label>Assunto</label>
            <input type="text" name="subject" class="subject"
                placeholder="Defina um tópico sucinto para notificar os autores..." ngModel required>
            <label>Conteúdo</label>
            <Textarea type="text" name="content" rows="6" ngModel required></Textarea>
        </div>
        <div class="btn-send">
            <button (click)="onSubmit($event)" class=".btn-create-topic">Enviar</button>
        </div>
        <div class="divisor"></div>
    </form>
</div>

<div *ngIf="ShowSentForm" class="form-container form-sent">
    <h2>Seu tópico foi enviado com sucesso! :D</h2>
    <p>Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for respondido!
    </p>
    <a href="#">Descubra outros trabalhos!</a>
    <div class="create">
        <div class="divisor"></div>
        <a class="btn-create-topic" href="#" (click)="toggleSentForm($event)">
            criar novo tópico
        </a>
    </div>
    <div class="topics">
        <div class="blur-message">
            <img src="../../../assets/visto.png" alt="mensagem enviada">
            <h3>Aguardando feedback dos autores</h3>
            <a (click)="toggleSentForm($event)" href="#">Editar tópico</a>
        </div>
        <div class="topic">
            <h2>Assunto da pergunta aparece aqui</h2>
            <p>Carlos Henrique Santos</p>
            <div class="text">
                <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão
                    e impacto de processo formativo situado impacto de processo formativo processo...</p>
            </div>
            <div class="settings">
                <a href="">
                    <img src="../../../assets/mais informações.png" alt="mais informações">
                </a>
                <a href="">
                    <img src="../../../assets/favoritar.png" alt="favoritar">
                </a>
                <p>1 like</p>
                <p>1 responsta</p>
            </div>
        </div>
    </div>
</div>