.form-container{
    margin: 15px;
}

.form-container > p{
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    color: #5C5C5C;
    text-align: center;
}
.subject{
    margin: 22px 0;
}
.inputs{
    display: flex;
    flex-direction: column;
}

.inputs > label{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    color: #ED7839;
}
.inputs > input{
    height: 39px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    padding-left: 23.13px;
    margin-bottom: 10px;
}
.inputs > input, textarea:focus{
    outline: none;
}
.inputs > textarea{
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 0 0;
    resize: none;
    padding: 23.13px;

}
.inputs > textarea::-webkit-scrollbar{
    width: 10px;
    background-color: #E7E7E7;
}

.inputs > textarea::-webkit-scrollbar-thumb{
    background-color: #BFBFBF;
}
.btn-send{
    display: flex;
    justify-content: end;
    background-color: #EAF1F2;
    border: 1px solid #CCCCCC;
    border-top: none;
    border-radius: 0 0 3px 3px;
}

.btn-send > button{
    width: 205px;
    height: 31px;
    background: linear-gradient(to bottom, #FFB354, #F1833E);
    color: #FFFF;
    font-size: 15px;
    line-height: 16px;
    font-weight: 700;
}

.divisor{
    display: flex;
    width: 100%;
    margin: 15px 0;
    border: 1px solid #E7E7E7;
    height: 1px;
}
.create{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.form-sent > h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21,09px;
    text-align: center;
    color: #ED7839;
}
.form-sent > p{
    font-size: 14px;
    line-height: 19.25px;
    margin: 18px;
    color: #595959;
}
.form-sent > a{
    display: flex;
    justify-content: center;
    color: #F48F44;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.25px;
    margin: 47px;
}

.btn-create-topic{
    position: absolute;
    top:-4px;
    text-decoration: none;
    color: #ffff;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    background: linear-gradient(to bottom, #FFB354, #F0813D);
    padding: 13px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topics{
    background-color: #e7e7e729;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    margin: 19px 167px;
    filter: drop-shadow(0px 0px 2px #00000037);
    position: relative;
}

.topic{
    filter:blur(5px);
    margin: 17px 0 18px 24.17px;
    user-select: none;
}

.topic > h2{
    font-size: 16px;
    color: #ED7839;
    font-weight: 700;
    line-height: 20px;
}
.topic > p{
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;

}

.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    margin: 10px 0;
}

.settings{
    display: flex;
    align-items: center;
    
}
.settings > a, p{
    margin-right: 15px;
}
.settings > p{
    font-weight: 350;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    color: #757575;
    line-height: 18.62px;
}

.blur-message{
    width: 100%;
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    justify-self:center;
    align-items: center;
}
.blur-message > h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #707070;
    margin: 8px;
}

.blur-message > a{
    color: #ED7839;
    cursor: pointer;
    z-index: 1000;
}



