.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    background-color: #FDF1EB;
    padding: 0 36px;
}

.title{
    color: #725C5C;
    padding: 5px 0;
}

p, h1{
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 14px;
    line-height: 16.41px;
}

h1{
    font-size: 22px;
    line-height: 25.78px;
    font-weight: 400;
}
.settings{
    display: flex;
    align-items: center;
}

