<div class="side-bar">
    <div class="logo">
      <h1 class="title-logo">SLACA 2019</h1>
      <img src="../assets/logo.png" alt="Logo 13 SLACA">
    </div>
    <div class="side-menu">
      <nav>
        <ul>
          <li>
            <a class="menu-button" href="#">Apresentação</a>
            <a class="menu-button" href="#">Comitês</a>
            <a class="menu-button" href="#">Autores</a>
            <a class="menu-button" href="#">Eixos temáticos</a>
            <a class="menu-button" href="#">Trabalhos</a>
            <a class="menu-button" href="#">Contato</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
