<div class="topics topic-color">
    <div class="topic">
        <div class="author">
            <p>Adriano da Silva</p>
            <div class="emblem">
                <p>Author</p>
                <img src="../../../assets/visto laranja.png" alt="">
            </div>
        </div>
        <div class="text">
            Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo formativo
            situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da dimensão e
            impacto de processo formativo situado impacto de processo formativo processo.
        </div>
    </div>
</div>
<div class="topics">
    <div class="topic">
        <div class="author">
            <p>Carlos Henrique Santos</p>
            <div class="emblem">
                <p></p>
                <img src="" alt="">
            </div>
        </div>
        <div class="text">
            <p>Consegui entender melhor agora! Parece que a variação da análise da dimensão e impacto de processo
                formativo situado impacto de processo formativo.
                <br><br>
                Obrigada pela resposta, muito interessante o seu trabalho!
            </p>
        </div>
    </div>
</div>
<div class="topics topic-color">
    <div class="topic">
        <div class="author">
            <p>Camila Ferreira Andrade</p>
            <div class="emblem">
                <p>Coauthor</p>
                <img src="../../../assets/visto laranja.png" alt="">
            </div>
        </div>
        <div class="text">
            <p>Também ínteressante lembrar que o relato inscreve-se no campo da análise da dimensão e impacto de
                processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da
                análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.
                <br><br>
                Situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da
                dimensão e impacto de processo formativo situado impacto de processo formativo processo.
            </p>
        </div>
    </div>
</div>
<div class="topics topic-color">
    <div class="topic">
        <div class="author">
            <p>Ana Carolina</p>
            <div class="emblem">
                <p>Coauthor</p>
                <img src="../../../assets/visto laranja.png" alt="">
            </div>
        </div>
        <div class="text">
            <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo
                formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise
                da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
        </div>
    </div>
</div>