.language {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 22px;
    width: 97px;
    height: 34px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

select {
    background-color: #FDF1EB;
    cursor: pointer;
}