<div class="content-container">
    <div class="main-container">
        <div class="main">
            <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de
                Campinas/SP</h2>
            <iframe width="" height="" src="https://www.youtube.com/embed/0f_I0ZRcpgw?si=8SeH-SV6Z7gKcH-Y"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div class="details">
            <div class="buttons">
                <button>
                    <img src="../../../assets/download.png" alt="download">
                    download
                </button>
                <button>
                    <img src="../../../assets/star.png" alt="">
                </button>
                <button>
                    <img src="../../../assets/doi.png" alt="">
                </button>
            </div>
            <p class="details-quote">COMO CITAR ESSE TRABALHO?</p>
            <app-detail></app-detail>
        </div>
    </div>
    <app-summary></app-summary>
    <app-discussions></app-discussions>
    
</div>
