.user-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 6.86px;
}
.user{
    position: relative;
    cursor: pointer;
}

.notifications{
    position: absolute;
    top: -3px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background-color: #F85959;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #ffff;
    border-radius: 15px;
}