.title{
    background-color:#FDF1EB;
    border: 1px solid #ECECEC;
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    padding: 10px 15px;    
}

.title h1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color:#5C5C5C;
    font-family: 'Roboto', sans-serif;
}

.text{
    border: 1px solid #ECECEC;
    border-radius: 0 0 3px 3px;
    padding-bottom: 17px;
}

.detail-text{
    padding: 15px;
    margin: 3px;
    overflow-y: scroll;
    color: #5C5C5C;
    max-height: 361px;
}

.detail-text::-webkit-scrollbar{
    width: 3px;
    background-color: #E7E7E7;
    border-radius: 5px;
}

.detail-text::-webkit-scrollbar-thumb{
    background-color: #BFBFBF;
}

.detail-text p{
    font-size: 12px;
}

.detail-text h2{
    font-size: 12px;
}

sup{
    margin: 0px;
    font-weight: 800;
    color: #ADA0A0;
    font-weight: 400;
}

.author{
    margin: 25px 0;
}